
button {
    border: 2px solid white;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


.big-button{
    width: 300px;
    height: 80px;
}

.small-button{
    width: 200px;
    height: 53px;
    font-size: 14px;
}