.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
}

.company-info {
    position: absolute;
    right: 0;
    bottom: 10px;
    padding-right: 30px;
}