.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.company-info {
    position: absolute;
    right: 0;
    padding-right: 30px;
}