
@media screen and (min-width: 576px){
.navigation_bar {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 20px;
}

.link {
    color: white;
    text-transform: uppercase;
}
}
