.form-container {
    border: 4px solid white;
    text-align: left;
    padding: 10px;
}

.formTitle {
    text-transform: uppercase;
}

p {

    font-size: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid orange;
}

.info {
    text-align: center;
}

.textarea {
    width: 100%;
    padding: 5px;
    color: black;
}